.nav-link {
    color: rgb(34,34,34);
    font-weight: 500;
    text-align: left;
    text-decoration: none;
    /* background-color: brown; */
    border-radius: 10px;
    border: 0.1px solid rgb(2, 198, 165);
    padding: 1px 15px;

  }
  /* .nav-link:hover {
     text-decoration: underline; 
  } */